{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'logincss.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rejestracja</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" name="username" name="username" class="username">
        <label for="password">Hasło:</label>
        <input type="password" name="password" name="password" class="password">
        <br>
        <button type="submit">Zaloguj</button>

    </form>
</body>
</html>
{% endblock %}