{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'logincss.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rejestracja</h1>
    <form action="{%url 'registration'%}" method="post">
        {% csrf_token %}
            {{form.as_p}}
        <button type="submit">Zaloguj</button>

    </form>
</body>
</html>
{% endblock %}