{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'homecss.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>W jaką gre chciałbyś zagrać?</h1>
    <section class="GameList">
        {% if user.is_autenthicated %}
        <a href="{% url 'saper' %}"><img src="{% static 'minesweeperIcon.png' %}" alt="Minesweeper"></a>
        {% else %}
        <a href="{% url 'login_user'%}"><img src="{% static 'minesweeperIcon.png' %}" alt="Minesweeper"></a>
        {% endif %}
    </section>
</body>
</html>
{% endblock %}